body{
  font-family: 'AvertaRegular', Helvetica Neue, Helvetica, Arial, san-serif !important;
  background-color: black;
}
body, html {
  height: 100%
}
p{
  color: white;
}

/*                                 Top navigation                                    */

.navigation{
  width: 100%;
  height: 85px;
  background-color: black;
  color: #ffffff;
  overflow: hidden;
}
#topNav img {
  float: left;
  padding-left: 20px;
  padding-right: 20%;
  // border-radius: 2px;
}
/* Styles links inside navigation */
.navigation a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 29px 50px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
}
/* Changes the color of the links on hover */
.navigation a:hover {
  background-color: #cdf41b;
  color: black;
}
/* Hides the links that should open and close the navigation on small screens */
.navigation .icon {
  display: none;
}


/* Search field */






/*                      Container                 */
.parallax {
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*                      Footer                  */

footer{
   height: 5%;
}
footer h5 {
  color: white;
  text-align: center;
}
