body{
  font-family: 'AvertaRegular', Helvetica Neue, Helvetica, Arial, san-serif !important;
  background-color: black;
}
body, html {
  height: 100%
}
p{
  color: white;
}

/*                                 Top navigation                                    */

.navigation{
  width: 100%;
  height: 85px;
  background-color: black;
  color: #ffffff;
  overflow: hidden;
}
#topNav img {
  float: left;
  padding-left: 20px;
  padding-right: 20%;
  // border-radius: 2px;
}
/* Styles links inside navigation */
.navigation a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 29px 50px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
}
/* Changes the color of the links on hover */
.navigation a:hover {
  background-color: #cdf41b;
  color: black;
}
/* Hides the links that should open and close the navigation on small screens */
.navigation .icon {
  display: none;
}


/* Search field */
#navIcons {
  // display: inline-flex !important;
  // width: 20%;
  // margin-top: 24px;
}
#navIcons input[type=text] {
  width: 130px;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: white;
  background-image: url('src/lib/img/Search-Icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  // margin-left: 50%;
  // margin-right: 15%;
  // padding: 14px 16px;
  // border-radius: 2px;
}
/* When input field gets focus, change its width to 100% */
#navIcons input[type=text]:focus {
  width: 100%;
}
/*                      Container                 */
.parallax {
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*                      Footer                  */

footer{
   height: 5%;
}
footer h5 {
  color: white;
  text-align: center;
}
