body{
  font-family: 'Averta', sans-serif;
  background-color: black;
}
body, html {
  height: 100%
}
p {
  color: white;
}
/*                                 Top navigation                                    */

.navigation{
  width: 100%;
  height: 85px;
  background-color: black;
  color: #ffffff;
  overflow: hidden;
  padding-left: 1%;
  padding-right: 1%;
}
#topNav img {
  float: left;
  padding-right: 20%;
  // border-radius: 2px;
}
/* Styles links inside navigation */
.navigation a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  margin-top: 19px;
}
/* Changes the color of the links on hover */
.navigation a:hover {
  background-color: #cdf41b;
  color: black;
}
/* Hides the links that should open and close the navigation on the small screens */
.navigation .icon {
  display: none;
}

input[type=text] #comment{
  height: 50px;
}

/*                      Container                 */

.slide-viewer {
  position: relative;
  overflow: hidden;
  height: 1000px;
}
.slide-group {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 1%;
  padding-right: 1%;
}
.slide {
  width: 100%;
  height: 100%;
  // display: none;
  position: absolute;
}
.slide:first-child {
  display: block;
}

/*    Section One    */

.section-one {
  max-width: 100%;
  max-height: 1000px;
  position: relative;
  margin: auto;
  padding-left: 20px;
  background-image: url("/src/lib/img/Beam-FadedBgd.png");
  background-position: center;
  background-repeat: no-repeat;
}
/*    Upper Section    */

.uppercontent{
  display: inline-flex;
  margin-top: 1%;
}
.section-one h2 {
  color: white;
  font-size: 30px;
  font-weight: bolder;
}
.section-one p {
  font-size: 22px;
  font-weight: lighter;
  text-align: justify;
}
.section-one h4 {
  color: #CDF41B;
  font-weight: normal;
}
.left{
  width: 50%;
  display: inline-block;
}
#rectangle {
  width: 500px;
  height: 8px;
  background: #CDF41B;
}
.right{
  float: right;
  width: 50%;
}
.right img {
  margin-top: 3%;
  margin-left: 25%;
}
/*    Lower Section    */
.lowercontent h2 {
  text-align: center;
}
.lowercontent h5 {
  color: white !important;
  font-size: 22px
  font-weight: bold;
}
.lowercontent p {
  font-size: 10px !important;
}
.cars {
  display: inline-block;
  margin-right: 10%;
}
.horses {
  display: inline-block;
    margin-right: 10%;
}
.bikes {
  display: inline-block;
}
a {
  color: #CDF41B;
  font-weight: lighter;
}




/*                      Footer                  */

footer{
   height: 5%;
}
footer h5 {
  color: white;
  text-align: center;
}
